---
title: A page for You
layout: base.njk
---
    
<div class="container">
    <h1>This is a staic page</h1>
    <div class="vibe">You are great!</div>
    <div class="love">
        ❤
    </div>
</div>
<script src="/js/vibe.js"></script>